<% layout('./layout/page.ejs') %>
<h1 class="text-center"><%= title %></h1>
<div class="text-center">
  <img src="<%= picture %>" alt="<%= title %>" class="img-fluid mb-4">
  <p><%= desc %></p>
  <a href="/" class="btn btn-secondary">Назад</a>
</div>
